<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="Aboutus.css" />
  <script src="https://kit.fontawesome.com/5dd06e6e32.js" crossorigin="anonymous"></script>
  <title>About us Page</title>
</head>

<body>
  <div class="aboutus-maindiv">
    <nav class="navbar">
      <div class="logocont">
        <img src="../components/Images/slate logo 1.png" class="logo" width="80">
      </div>


      <ul class="main-nav" id="js-menu">
        <li>
          <a href="#" class="nav-links">Home</a>
        </li>
        <li>
          <a href="#" class="nav-links">About us</a>
        </li>
        <li>
          <a href="#" class="nav-links">Jobs</a>
        </li>
        <li>
          <a href="#" class="nav-links">Contact Us</a>
        </li>
        <li>
          <a href="#" class="nav-links">Refer a Friend</a>
        </li>

      </ul>

      <div class="forEmployee">

        <a href="#" class="custmizelink">For Employee</a>

      </div>
    </nav>

    <div class="MID-MAIN-DIV">
      <div class="back-img-div">
        <img class="back-img" src="./Images/aboutus-background.png" />
      </div>
      <div class="Mid-sub-div">
        <div class="SUB-DIV-1">
          <img class="image1" src="./Images/aboutus-image1.png" />
          <div class="para1-div">
            <div class="about-yellow"></div>
            <h3 class="aboutus-heading">About us</h3>
            <p class="para1">
              <span class="bold">For healthcare facilities</span>, we deliver a robust suite of
              software and services to streamline the procurement and
              management of contingent labor. Aya Healthcare’s
              workforce solutions provide access to the largest sources
              of contract clinicians in the country while improving
              efficiency, increasing quality and reducing costs for
              healthcare systems. We are the largest provider of travel
              nurses and the most efficient provider of all just-in-time
              labor categories for healthcare organizations.
            </p>
          </div>
        </div>
        <div class="SUB-DIV-2">
          <div class="para2-div">
            <p class="para2">
              <span class="bold2"> For clinicians, </span>we deliver the best service in the industry while providing
              access to the widest base of assignments in
              the United States. Travel nurses, allied health professionals and locums have full self-service
              capabilities, including
              the ability to self-select for an assignment. They can work with a recruiter to obtain proactive licensure
              and curate
              and customize their career. Our clinicians enjoy:
            </p>
            <div class="ul-div">
              <ul>
                <li class="li-div">Front-of-the-line access to thousands of exclusive jobs nationwide.</li>

                <li class="li-div">Our unique expedited licensure program to help clinicians obtain any state licenses
                  they want. Fast.
                  We walk their
                  application into the board for them!</li>

                <li class="li-div">Competitive pay. We don’t nickel and dime on assignments. (Clinicians won’t be
                  charged a fee and we
                  pay their stipends
                  if they’re ever called off.)></li>

                <li class="li-div">A robust support team to ensure clinicians start on time, have flawless payroll and
                  an exceptional
                  experience.</li>

                <li class="li-div">Credentialing experts to locate and pay for all labs and renewal certifications and
                  keep their
                  paperwork on point.</li>

                <li class="li-div">Precise, clinician-driven unit match assessments to ensure each assignment is the
                  right fit!</li>

                <li class="li-div">A clinical ladder program that includes paid association memberships, tuition
                  reimbursement and loan
                  forgiveness (for
                  travelers on assignment).</li>
              </ul>
            </div>
          </div>
          <img class="image2" src="./Images/aboutus-image2.png">
        </div>
        <div class="SUB-DIV-3">
          <img class="image3" src="./Images/aboutus-image3.png">
          <div class="para3-div">
            <p class="para3">
              <span class="bold3"> For corporate employees, </span>
              we provide an environment where team members can thrive and advance
              their careers. We’re always searching for top talent to join our friendly,
              fast-paced teams. Because of our amazing employees, we’ve been recognized
              as a top workplace by a variety local and national publications, including
              Inc. Magazine, the San Diego Union-Tribune (seven years in a row!), Staffing
              Industry Analysts and Modern Healthcare.
            </p>
            <p class="para4">
              We provide an environment where team members can thrive and advance
              their careers. We’re always searching for top talent to join our friendly,
              fast-paced teams.
            </p>
          </div>
        </div>
        <div class="SUB-DIV-4">
          <img class="image4" src="./Images/aboutus-slate-logo.png">
          <hr class="hr-line" />
          <div>
            <p class="para5">Lorem ipsum ist a dol or sit amet, tup consi ectetuer adip iscing elit, . Loremccxc
              ipsum ist a dol or sit amet, tup consi ectetuer adip iscing elit, seddia nonummy.x
              seddia nonummy.</p>
            <button class="button">View Jobs</button>
          </div>
        </div>
        <footer>
          <div class="contactUs">
            <img src="../components/Images/footerlogo.png" class="footerlogo" />
            <h1 class="footer-location">Houston,Texas, US</h1>
            <div class="media">
              <i class="fa-brands fa-youtube fa-xl"></i>
              <i class="fa-brands fa-instagram fa-xl"></i>
              <i class="fa-brands fa-facebook-f fa-xl"></i>
              <i class="fa-brands fa-twitter fa-xl"></i>
            </div>
          </div>
          <div class="footerContents">
            <div class="footerContent1">
              <h1 class="company">Company</h1>
              <a id="links1" href="#">About</a>
              <a id="links1" href="#"> Reference</a>
              <a id="links1" href="#"> Contact us</a>
              <a id="links1" href="#"> Services</a>
            </div>
            <div class="footerContent2">
              <h1 class="candidates">Candidates</h1>
              <a id="links1" href="#">Jobs</a>
              <a id="links1" href="#"> Location </a>
              <a id="links1" href="#">Refer a friend</a>
            </div>
            <div class="footerContent3">
              <h1 class="employers">Employers</h1>
              <a id="links1" href="#">Heathcare Facilities</a>
              <a id="links1" href="#"> Staffing agencies </a>
              <div class="footerContent4">
                <div class="privacy-div">
                  <h1 class="privacy-policy">Privacy Policy</h1>
                  <hr class="hr" />
                  <h1 class="terms">Terms of Services</h1>
                </div>
                <h6 class="rights">All Rights Reserved. Slate Healthcare</h6>
              </div>
            </div>
          </div>
        </footer>
      </div>    
    </div>
  </div>
</body>
</html>