<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="contact.css" />
  <script src="https://kit.fontawesome.com/5dd06e6e32.js" crossorigin="anonymous"></script>
  <title>Contact us</title>
</head>

<body>
  <div class="main-div">
    <nav class="navbar">
      <div class="logocont">
        <img src="../components/Images/slate logo 1.png" class="logo" width="80">
      </div>


      <ul class="main-nav" id="js-menu">
        <li>
          <a href="#" class="nav-links">Home</a>
        </li>
        <li>
          <a href="#" class="nav-links">About us</a>
        </li>
        <li>
          <a href="#" class="nav-links">Jobs</a>
        </li>
        <li>
          <a href="#" class="nav-links">Contact Us</a>
        </li>
        <li>
          <a href="#" class="nav-links">Refer a Friend</a>
        </li>

      </ul>

      <div class="forEmployee">

        <a href="#" class="custmizelink">For Employee</a>

      </div>
    </nav>


    <div class="middle-main-div">
      <div class="left_div">
        <div class="yellow"></div>
        <h1 class="heading">Contact us</h1>

        <div class="mail-div">
          <img src="../components/Images/mail.png" class="mail-icon" />
          <h1 class="email1">info@wslatehealthcare.com</h1>
        </div>

        <div class="telephone-div">
          <img src="../components/Images/caling.png" class="calling-icon" />
          <h1 class="number">+1 833-781-7474</h1>
        </div>

        <hr / class="line1">

        <div class="location-div">
          <img src="../components/Images/location.png" class="location-icon" />
          <h1 class="location">Houston, Texas,US</h1>
        </div>
        <img src="../components/Images/map.png" class="map-image" />
        <div class="socialmedia-icon">
          <img src="../components/Images/youtube.png" class="youtube" />
          <img src="../components/Images/instagram.png" class="instagram" />
          <img src="../components/Images/facebook.png" class="facebook" />
          <img src="../components/Images/twitter.png" class="twitter" />
        </div>
      </div>

      <div class="right_div">
        <div class="head">
          <div class="left-line"></div>
          <h1 class="heading2">Enquiry Form</h1>
          <div class="right-line"></div>
        </div>
        <div class="inputfirst-main-div">
          <div class="fullname-div">
            <p class="fullname">Full Name</p>
            <input type="text" class="no-outline1" placeholder="" />
          </div>
          <div class="email-div">
            <p class="email2">Email Address</p>
            <input type="email" class="no-outline2" placeholder="" />
          </div>
        </div>
        <div class="subject-div">
          <p class="subject">Subject</p>
          <input type="text" class="no-outline3" placeholder="Type subject here..." />
        </div>
        <div class="message-div">
          <p class="message">Your message</p>
          <input type="text" class="no-outline4" placeholder="Type your message here..." />
        </div>
        <div class="button-div">
          <button class="send">Send Message</button>
        </div>
      </div>
    </div>

    <footer>
      <div class="contactUs">
        <img src="../components/Images/footerlogo.png" class="footerlogo" />
        <h1 class="footer-location">Houston,Texas, US</h1>
        <div class="media">
          <i class="fa-brands fa-youtube fa-xl"></i>
          <i class="fa-brands fa-instagram fa-xl"></i>
          <i class="fa-brands fa-facebook-f fa-xl"></i>
          <i class="fa-brands fa-twitter fa-xl"></i>
        </div>

      </div>
      <div class="footerContents">
        <div class="footerContent1">
          <h1 class="company">Company</h1>
          <a id="links1" href="#">About</a>
          <a id="links1" href="#"> Reference</a>
          <a id="links1" href="#"> Contact us</a>
          <a id="links1" href="#"> Services</a>
        </div>
        <div class="footerContent2">
          <h1 class="candidates">Candidates</h1>
          <a id="links1" href="#">Jobs</a>
          <a id="links1" href="#"> Location </a>
          <a id="links1" href="#">Refer a friend</a>
        </div>
        <div class="footerContent3">
          <h1 class="employers">Employers</h1>
          <a id="links1" href="#">Heathcare Facilities</a>
          <a id="links1" href="#"> Staffing agencies </a>
          <div class="footerContent4">
            <div class="privacy-div">
              <h1 class="privacy-policy">Privacy Policy</h1>
              <hr class="hr" />
              <h1 class="terms">Terms of Services</h1>
            </div>
            <h6 class="rights">All Rights Reserved. Slate Healthcare</h6>
          </div>
        </div>
      </div>

    </footer>
  </div>


</body>

</html>