<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="HomePage.css" />

</head>

<body>

    <nav class="navbar">
        <div class="logocont">
            <img src="../Homepage/Images/slate logo 1.png" class="logo" width="80">
        </div>


        <ul class="main-nav" id="js-menu">
            <li>
                <a href="#" class="nav-links">Home</a>
            </li>
            <li>
                <a href="#" class="nav-links">About us</a>
            </li>
            <li>
                <a href="#" class="nav-links">Jobs</a>
            </li>
            <li>
                <a href="#" class="nav-links">Contact Us</a>
            </li>
            <li>
                <a href="#" class="nav-links">Refer a Friend</a>
            </li>

        </ul>

        <div class="forEmployee">

            <a href="#" class="custmizelink">For Employee</a>

        </div>
    </nav>

    <main>
        <div class="mainSection">
            <h1 class="heading1">Redifining the Traveling Nurse</h1>
            <p>
                Our mission is to remove every obstacle and help our travelers <br>
                discover gratifying opportunities hassle-free.
            </p>
            <p>Our main objective is
                partnering with you to redefine and renew the </p> facet of Travel Nursing.</p>
        </div>
    </main>

    <section class="values">
        <div class="ourValues">
            <h1 class="h1text">
                OUR <br> VALUES
            </h1>
        </div>

        <div class="value">
            <div class="freedom">
                <img src="../Homepage/Images/circle sec-.png" alt="circle">

                <p class="p1">Freedom</p>

                <div class="line-1"></div>


                <p class="content"> The gradual accumulation of <br>
                    information about atomic and<br>
                    small-scale behaviour... </p>
            </div>
            <div class="transparent">
                <img src="../Homepage/Images/circle3.png" alt="circle3">

                <p class="p1">Transparency</p>
                <div class="line-1"></div>

                <p class="content"> The gradual accumulation of <br>
                    information about atomic and<br>
                    small-scale behaviour... </p>
            </div>
            <div class="supp0rt">
                <img src="../Homepage/Images/2.png" alt="2">

                <p class="p1">Support</p>
                <div class="line-1"></div>

                <p class="content"> The gradual accumulation of <br>
                    information about atomic and<br>
                    small-scale behaviour... </p>
            </div>
        </div>

    </section>

    <section class="section-3">

        <div>
            <img src="../Homepage/Images/slate logo 2.png" alt="logo2" class="logo3">
        </div>
        <div class="line-2">

        </div>
        <div class="content2">
            Lorem ipsum ist a dol or sit amet, tup consi ectetuer adip iscing elit, . Loremccxc<br>
            ipsum ist a dol or sit amet, tup consi ectetuer adip iscing elit, seddia nonummy.x<br>
            seddia nonummy.
            <br>
            <button class="btn-explore">View Jobs</button>
        </div>

    </section>

    <section class="section-4">
        <div class="part1">
            <img src="../Homepage/Images/Rectangle 244c.png" alt="smallrec">
            <h2 class="sec-h1"> Our Partners </h2>
        </div>

        <div class="part2">

            <div class="item1">
                <img src="../Homepage/Images/image 1.png" alt="image1">
            </div>
            <div class="item2">
                <img src="../Homepage/Images/image 2.png" alt="image2">
            </div>
            <div class="item3">
                <img src="../Homepage/Images/image 3.png" alt="image3">
            </div>

        </div>

    </section>

    <section class="section-5">
        <div class="round-border">
            <div class="smallrec2">
                <img src="../Homepage/Images/Rectangle 244c.png" alt="smallrec">
                <h2 class="Testimonials"> Testimonials </h2>
            </div>

        </div>

        <div class="cards">

            <div class="card1">
                <p>Lorem ipsum ist a dol or sit amet, tup<br>
                    consi ectetuer adip iscing elit, seddia<br>
                    nonummy.</p>
                    
                   
            </div>
            
            <div class="card1">
                <p>Lorem ipsum ist a dol or sit amet, tup<br>
                    consi ectetuer adip iscing elit, seddia<br>
                    nonummy.</p>
            </div>
            <div class="card1">
                <p>Lorem ipsum ist a dol or sit amet, tup<br>
                    consi ectetuer adip iscing elit, seddia<br>
                    nonummy.</p>
            </div>

        </div>
       
        <div class="allpicture">
            <img src="../Homepage/Images/Picture.png" alt="Picture" class="picture1">

            <img src="../Homepage/Images/Picture.png" alt="Picture" class="picture2">
            <img src="../Homepage/Images/Picture.png" alt="Picture" class="picture3">
            
        </div>

        <div class="picture-name">
          <p>Aligator Oslen</p>
          <p>Aligator Oslen</p>
          <p>Aligator Oslen</p>
         
        </div>
       
        <div class="picture-name">
            <p>CEO of ABC Corporation</p>
            <p>CEO of ABC Corporation</p>
            <p>CEO of ABC Corporation</p>
           
          </div>

    </section>
    <footer>
    </footer>
</body>

</html>