<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="refer.css" />
  <title>Refer a friend</title>
</head>

<body>
  <div class="main-div">
    <nav class="navbar">
      <div class="logocont">
        <img src="../components/Images/slate logo 1.png" class="logo" width="80">
      </div>


      <ul class="main-nav" id="js-menu">
        <li>
          <a href="#" class="nav-links">Home</a>
        </li>
        <li>
          <a href="#" class="nav-links">About us</a>
        </li>
        <li>
          <a href="#" class="nav-links">Jobs</a>
        </li>
        <li>
          <a href="#" class="nav-links">Contact Us</a>
        </li>
        <li>
          <a href="#" class="nav-links">Refer a Friend</a>
        </li>

      </ul>

      <div class="forEmployee">

        <a href="#" class="custmizelink">For Employee</a>

      </div>
    </nav>

    <div class="mid-div">
      <div class="heading-yellow">
        <div class="yellow2"></div>
      </div>
      <div class="head-line">

        <p class="referheading">Refer a Friend </p>
        <div class="line"></div>
      </div>
      <div class="para-div">
        <p class="para">Fill out the information to send the reference</p>
      </div>
      <div class="form-div">
        <div class="image-div">
          <img src="./Images/referafriend1.png" class="image" />
          <img src="./Images/referafriend2.png" class="image" />
        </div>
        <div class="main-detail-div">
          <div class="detaildiv">
            <div class="heading-div1">
              <div class="detail-box">
                Your Details </div>
              <hr class="yourdetailsline" />
            </div>
            <form class="form1">
              <div class="input1">
                <div class="fullname1">
                  <p class="fullnameheading1">Full name</p>
                  <input type="text" class="no-outline1" placeholder="" />
                </div>
                <div class="cellphone1">
                  <p class="cellphoneheading1">Cell phone number</p>
                  <input type="email" class="no-outline2" placeholder="+0 XXXXX XXXXX" />
                </div>
              </div>
              <div class="email1">
                <p class="emailheading1">Email Address</p>
                <input type="text" class="no-outline3" placeholder="samuel123@gmail.com" />
              </div>
            </form>
          </div>
          <div class="friend-div">
            <div class="heading-div2">
              <div class="detail-box2">
                Friend's Details </div>
              <hr class="yourdetailsline2" />
            </div>
            <form class="form2">
              <div class="input2">
                <div class="fullname2">
                  <p class="fullnameheading2">Full name</p>
                  <input type="text" class="no-outline4" placeholder="" />
                </div>
                <div class="cellphone2">
                  <p class="cellphoneheading2">Cell phone number</p>
                  <input type="email" class="no-outline5" placeholder="+0 XXXXX XXXXX" />
                </div>
              </div>
              <div class="input2">
                <div class="email2">
                  <p class="fullnameheading2">Email Address</p>
                  <input type="text" class="no-outline4" placeholder="samuel123@gmail.com" />
                </div>
                <div class="profession-div">
                  <p class="Friendprofession">Friend's Profession</p>
                  <select class="no-outline7">
                    <option value="" disabled selected>Select from the option</option>
                    <option id="#" value="">Lorem Ipsum 1</option>
                    <option id="#" value="">Lorem Ipsum 2</option>
                    <option id="#" value="">Lorem Ipsum 3</option>
                    <option id="#" value="">Lorem Ipsum 4</option>
                    <option id="#" value="">Lorem Ipsum 5</option>
                    <option id="#" value="">Lorem Ipsum 6</option>
                    <option id="#" value="">Lorem Ipsum 7</option>
                    <option id="#" value="">Lorem Ipsum 8</option>
                  </select>
                </div>
              </div>
          </div>
          </form>
        </div>
      </div>
      <div class="buttons-div">
        <button class="reset">Reset</button>
        <button class="send">Send Message</button>
      </div>
    </div>


    <footer>
      <div class="contactUs">
        <img src="./Images/footerlogo.png" class="footerlogo" />
        <h1 class="footer-location">Houston,Texas, US</h1>
        <div class="media">
          <i class="fa-brands fa-youtube fa-xl"></i>
          <i class="fa-brands fa-instagram fa-xl"></i>
          <i class="fa-brands fa-facebook-f fa-xl"></i>
          <i class="fa-brands fa-twitter fa-xl"></i>
        </div>

      </div>
      <div class="footerContents">
        <div class="footerContent1">
          <h1 class="company">Company</h1>
          <a id="links1" href="#">About</a>
          <a id="links1" href="#"> Reference</a>
          <a id="links1" href="#"> Contact us</a>
          <a id="links1" href="#"> Services</a>
        </div>
        <div class="footerContent2">
          <h1 class="candidates">Candidates</h1>
          <a id="links1" href="#">Jobs</a>
          <a id="links1" href="#"> Location </a>
          <a id="links1" href="#">Refer a friend</a>
        </div>
        <div class="footerContent3">
          <h1 class="employers">Employers</h1>
          <a id="links1" href="#">Heathcare Facilities</a>
          <a id="links1" href="#"> Staffing agencies </a>
          <div class="footerContent4">
            <div class="privacy-div">
              <h1 class="privacy-policy">Privacy Policy</h1>
              <hr class="hr" />
              <h1 class="terms">Terms of Services</h1>
            </div>
            <h6 class="rights">All Rights Reserved. Slate Healthcare</h6>
          </div>
    </footer>
  </div>
</body>

</html>